
<br>

<div class="container">
  <div class="jumbotron">
    <center>  
    <img src="https://cloud.githubusercontent.com/assets/16651024/12533132/65b51000-c1f4-11e5-8243-55a1f9661959.png" 
         class="img-rounded" style="width:auto;height:200px;"/>
    <h2 class="text-primary">Principal</h2>
    <h4>Powered by iachamo</h4>
    </center>    
  </div> 
</div>

