
<%= content_for :head do %>
    <title>about</title>
<% end %>

<%= content_for :intro do %>
    <h2>Nosotros</h2>
    <p class="lead"><span class="label label-primary">SCRUM MASTER</span>Alfredo Chamochumbi García de la Arena</p>
<% end %>


